ion-view.Pages(view-title='關於')
  ion-content.color-w
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        ul.list
          li.item.right-arrows
            a(href="#/app/a-terms") 用戶協議
          li.item.right-arrows
            a(href="#/app/a-privacy") 隐私政策