ion-view.Pages(view-title='{{"about"|translate}}')
  ion-content.color-w
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        div.icon.note.text-center
          span.i-user.margin-0-auto
          b GOYA!
          p 1.0.0
        ul.list
          li.item.right-arrows
            a(href="#/app/a-terms") {{'agreement'|translate}}
          li.item.right-arrows
            a(href="#/app/a-privacy") {{'privacy'|translate}}