ion-view#index(view-title='{{"wait_service"|translate}}')
  ion-content.color-w
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        div.store
          .row.row-center.no-padding
            .col.no-padding
              img(src="img/data/soul-clash/sotre.png",srcset="img/data/soul-clash/sotre@2x.png 2x")
            .col.text-title
              b Soul Clash
              p Gaea Mobile
            .col.text-right.no-padding
              button.mini-button.watting(ng-click='Auth.login()') {{"wait_service"|translate}}
          hr
        
        .article-list
          .row.unit.no-padding.right-arrows.row-center
            .col-10.no-padding
              div.icon.no-margin
                span.i-flag
            .col.unit-p
              p {{'promotion'|translate}} 玩家遊戲操作與儲值注意需知！
          .row.unit.no-padding.right-arrows.row-center
            .col-10.no-padding
              div.icon.no-margin
                span.i-document
            .col.unit-p.no-padding
              p 台港澳巔峰競技報名！【港澳場】(12/31止)
          .row.unit.no-padding.right-arrows.row-center
            .col-10.no-padding
              div.icon.no-margin
                span.i-media
            .col.unit-p
              p 歡慶耶誕節 7-11滿額贈活動全省開跑
          .row.unit.no-padding.right-arrows.row-center
            .col-10.no-padding
              div.icon.no-margin
                span.i-flag
            .col.unit-p.no-padding
              p 手遊精靈聖誕好禮歡樂頌~
          .row.unit.no-padding.right-arrows.row-center
            .col-10.no-padding
              div.icon.no-margin
                span.i-document
            .col.unit-p.no-padding
              p 聖誕跨年歡慶限定7-11四部曲
          button.button.a-button.button-block.nol-button.right-arrows {{'raider_articles'|translate}}
          hr.margin-top
        div.row.text-center
          div.col
            div.icon
              span.i-user.margin-0-auto
              b 35
              p Pre-Register
          div.col
            div.icon
              span.i-calendar.margin-0-auto
              b 2015.1.15
              p online
        hr
        //- div(ng-repeat='tab in tabs', heading='{{tab.title}}', active='tab.active', disabled='tab.disabled')
        //-   | {{tab.content}}

        div.timer.margin-top.margin-bottom
          div.number
            span 8
            p DAYS
          div.number
            span 32
            p MINUTE
          div.number
            span 58
            p SECOND
        div.row.text-center.segmented-control
          div.col.on(ng-click='onClick("info")')
            | {{'intro'|translate}}
          div.col(ng-click='onClick("screen")')
            | {{'trunc'|translate}}
          div.col(ng-click='onClick("gift")')
            | {{'gift'|translate}}
        div.t-indent.margin-bottom
          #info.sc-div
            p 歡樂聖誕節就要來啦！各位冰友們~ 準備好一同來瘋刀塔了嗎？
            p 在這歡樂的佳節中，《刀塔傳奇》除了準備豐富的遊戲活動，還有諸多精彩的合作活動等玩家們一同來挖掘！
            p 活動名稱：刀塔傳奇送祝福！分享簽名檔！領取400萬鑽石聖誕好禮！
          #screen.sc-div
            p 截圖在這裡
          #gift.sc-div

        hr.margin-bottom
        button#buttonOk.a-button.button.button-block.main-button.right-arrows(ng-click='Auth.login()') {{'share'|translate}}
        button.button.a-button.button-block.nol-button.right-arrows {{'official_web'|translate}}
