ion-view#Article(view-title="{{article.title}}")
  ion-content.color-w
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        article
          h1 {{article.title}}
          hr
          div(ng-bind-html="article.content")