ion-view#Article(view-title='article')
  ion-content.color-w
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        article
          h1 置頂 玩家遊戲操作與儲值注意需知！玩家遊戲操作與儲值注意需知！玩家遊戲操作與儲值注意需知！
          hr
          div.t-indent.margin-bottom.text-body
            p 敬愛的玩家您好：
            p 目前，《刀塔傳奇》的iOS系統與Android系統帳號互不相通，請喜愛《刀塔傳奇》的玩家們務必注意，以免操作錯誤。
            
            p 另外，請玩家們千萬不要相信網路上其他非官方發佈的代儲值訊息，或是任何非官方販售遊戲幣之商人。若因玩家私自找人代儲或幣商交易等引發問題，恕本公司無法提供任何協助。
            
            p ＊貼心提醒：
            p 1.請務必採用官方發佈的儲值管道進行遊戲幣儲值，以免損失個人權益。
            p 2.任何遊戲外之異業合作、儲值、虛寶包購買等資訊，煩以官網公告為主
            p 敬愛的玩家您好：
            
            p 目前，《刀塔傳奇》的iOS系統與Android系統帳號互不相通，請喜愛《刀塔傳奇》的玩家們務必注意，以免操作錯誤。
            
            p 另外，請玩家們千萬不要相信網路上其他非官方發佈的代儲值訊息，或是任何非官方販售遊戲幣之商人。若因玩家私自找人代儲或幣商交易等引發問題，恕本公司無法提供任何協助。
            
            p ＊貼心提醒：
            p 1.請務必採用官方發佈的儲值管道進行遊戲幣儲值，以免損失個人權益。
            p 2.任何遊戲外之異業合作、儲值、虛寶包購買等資訊，煩以官網公告為主。