ion-view(view-title='Games')
  ion-content
    ion-list
      ion-item.item-thumbnail-left(ng-repeat='game in games', type='item-text-wrap', href='#/app/games/{{game.id}}')
        img(src='{{game.icon}}')
        | {{game.name}}

