ion-view#Article(view-title='{{game.name}}')
  ion-content.color-w(has-header='true', padding='true')
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        article
          h1 xxx
          hr
          div.t-indent.margin-bottom.text-body
            p xxx

//- ion-view(view-title='{{game.name}}')
//-   ion-content(has-header='true', padding='true')