ion-view(view-title='Get Password')
  ion-content
    form(ng-submit='')
      .list
        label.item.item-input
          span.input-label Email
          input(type='text', ng-model='email')
        label.item
          button.button.button-block.button-positive(type='Get Password') Log in

