ion-view.Pages(view-title='文章')
  ion-content.color-w
      div.black
        .list
          a.item.right-arrows(href="#/app/article")
            h2.color-w 信息推送
            p.color-w 所谓信息推送，就是"web广播"，是通过一定的技术标准或协议，在互联网上通过定期传送用户需要的信息来减少信息过载的一项新技术。推送技术通过自动传送信息给用户，来减少用于网络上搜索的时间。它根据用户的兴趣来搜索、过滤信息，并将其定期推给用户，帮助用户高效率地发掘有价值的信息。
          a.item.right-arrows(href="#/app/article")
            h2.color-w 安卓推送信息怎样关闭
            p.color-w 智能机越来越大众化，放眼望去，人手一部智能机。不是智能机还真不好意思拿出手。作家俺最近有的是华为荣耀U8860，大屏触摸安卓智能机，还行。不过因为玩了很多应用，由于内置广告的关系，所以经常收到推送信息，所以就给大家说一说：安卓推送信息怎样关闭！