ion-view(view-title='Login')
  ion-content
    form(ng-submit='restCommit()')
      .list
        label.item.item-input
          span.input-label Email
          input(type='text', ng-model='restCommitData.email')
        label.item.item-input
          span.input-label Password
          input(type='password', ng-model='restCommitData.password')
        label.item
          button.button.button-block.button-positive(type='submit') Log in

