ion-view.Pages(view-title='{{"about"|translate}}')
  ion-content.color-w
    .game-bg
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      div.black
        ul.list
          li.item.right-arrows
            a(href="#/app/a-terms") {{'agreement'|translate}}
          li.item.right-arrows
            a(href="#/app/a-privacy") {{'privacy'|translate}}