ion-modal-view
  ion-header-bar
    h1.title SSO Auth
  ion-content
    h1 请开通消息通知，以便游戏开服后第一时间能通知您
    div.list
      label.item
        button#buttonOk.button.button-block.button-positive(ng-click='ok()') 下一步