ion-modal-view
  ion-header-bar.bar
    h1.title.color-w 請求授權
    .buttons
      button.color-bule.button.button-clear(ng-click='mustChoise?cancelModal():closeModal()') {{'complete'|translate}}
  ion-content.color-w.dark
    .game-bg.screenHeight
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      .black
        h5.color-w 該應用正在請求你的授權允許
        .list
          a.item.item-avatar(href='#')
            img(src="img/app/app-icon.png",srcset="img/app/app-icon@2x.png 2x")
            h2.color-w 刀塔傳奇
            p.color-w 莉莉絲遊戲
        hr.margin-bottom
        button#buttonOk.a-button.button.button-block.main-button.right-arrows 允許授權
        button.button.a-button.button-block.nol-button.right-arrows 取消授權



//- ion-modal-view
//-   ion-header-bar
//-     h1.title SSO Auth
//-   ion-content
//-     h1 {{gameClientTitle}}请求授权，是否允许
//-     div.list
//-       label.item
//-         button#buttonOk.button.button-block.button-positive(ng-click='ok()') OK
//-       label.item
//-         button#buttonCancel.button.button-block.button-positive(ng-click='cancel()') Cancel