ion-modal-view
  ion-header-bar
    h1.title Login
    .buttons
      button.button.button-clear(ng-click='mustChoise?cancelModal():closeModal()') Close
  ion-content
    form(ng-submit='commitForm()')
      .list
        label.item.item-input
          span.input-label Password
          input(type='password', ng-model='formData.password')
        label.item
          button.button.button-block.button-positive(type='submit') 登陆

