ion-modal-view
  ion-header-bar.bar
    h1.title.color-w 請求授權
    .buttons
      button.color-bule.button.button-clear(ng-click='cancel()') {{'cancel'|translate}}
  ion-content.color-w.dark
    .game-bg.screenHeight
      div.top
        img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
      .black
        h5.color-w 該應用正在請求你的授權允許
        .list
          a.item.item-avatar(href='#')
            img(src="{{gameClientLogo}}",srcset="{{gameClientLogo}} 2x")
            h2.color-w {{gameClientTitle}}
            p.color-w {{publisher}}
        hr.margin-bottom
        hr.margin-bottom
        button#buttonOk.a-button.button.button-block.main-button.right-arrows(ng-click='ok()') 允許授權
        button.button.a-button.button-block.nol-button.right-arrows(ng-click='cancel()') 取消授權



//- ion-modal-view
//-   ion-header-bar
//-     h1.title SSO Auth
//-   ion-content
//-     h1 {{gameClientTitle}}请求授权，是否允许
//-     div.list
//-       label.item
//-         button#buttonOk.button.button-block.button-positive(ng-click='ok()') OK
//-       label.item
//-         button#buttonCancel.button.button-block.button-positive(ng-click='cancel()') Cancel