ion-modal-view.Pages
  ion-header-bar.bar
    .title.color-w 如何打開通知
    ion-content.color-w.dark
      .game-bg.screenHeight
        div.top
          img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
        .black.text-center
          | 教程在這裡
    .page-footer.page-padding
        .row
          .col
            button#buttonOk.a-button.button.main-button.right-arrows(ng-click='ok()')  完成