ion-modal-view
  ion-header-bar
    h1.title SSO Auth
  ion-content
    h1 请求授权，是否允许
    div.list
      label.item
        button#buttonOk.button.button-block.button-positive(ng-click='ok()') OK
      label.item
        button#buttonCancel.button.button-block.button-positive(ng-click='cancel()') Cancel