ion-view#index(view-title='事前登録')
	ion-content.color-w
		.game-bg
			div.top
				img(src="img/data/soul-clash/logo.png",srcset="img/data/soul-clash/logo@2x.png 2x")
			div.black
				div.store
					.row.row-center.no-padding
						.col.no-padding
							img(src="img/data/soul-clash/sotre.png",srcset="img/data/soul-clash/sotre@2x.png 2x")
						.col.text-title
							b Soul Clash
							p Gaea Mobile
						.col.text-right.no-padding
							button.mini-button(ng-click='Auth.login()') 事前登録
				div.big-photo.margin-bottom
					img.full-width(src="img/data/soul-clash/big-photo.png",srcset="img/data/soul-clash/big-photo@2x.png 2x")
				div.row.text-center
					div.col
						div.icon
							span.i-user.margin-0-auto
							b 35
							p Pre-Register
					div.col
						div.icon
							span.i-calendar.margin-0-auto
							b 2015.1.15
							p online
				//- div(ng-repeat='tab in tabs', heading='{{tab.title}}', active='tab.active', disabled='tab.disabled')
				//- 	| {{tab.content}}

				div.row.text-center.segmented-control
					div.col.on(ng-click='onClick("info")')
						| 介紹
					div.col(ng-click='onClick("screen")')
						| 截圖
					div.col(ng-click='onClick("gift")')
						| 禮包
				div.t-indent.margin-bottom
					#info.sc-div
						p 歡樂聖誕節就要來啦！各位冰友們~ 準備好一同來瘋刀塔了嗎？
						p 在這歡樂的佳節中，《刀塔傳奇》除了準備豐富的遊戲活動，還有諸多精彩的合作活動等玩家們一同來挖掘！
						p 活動名稱：刀塔傳奇送祝福！分享簽名檔！領取400萬鑽石聖誕好禮！
					#screen.sc-div
						p 截圖在這裡
					#gift.sc-div

				hr.margin-bottom
				button#buttonOk.a-button.button.button-block.main-button.right-arrows(ng-click='Auth.login()') 今・事前登録
				button.button.a-button.button-block.nol-button.right-arrows 査察官網
