ion-view#index(view-title='{{"preregister"|translate}}')
  ion-nav-buttons(side='primary')
    //- span.new-red
  ion-content.color-w
    .game-bg
      div.top
        img(src="{{start.top_img}}",srcset="{{start.top_img_2x}} 2x")
      div.black
        div.store
          .row.row-center.no-padding
            .col.no-padding
              a(href="#/app/games/1")
                img(src="{{start.game_icon}}",srcset="{{start.game_icon_2x}} 2x")
            .col.text-title
              b {{start.game_name}}
              p {{start.game_corp}}
            .col.text-right.no-padding
              button.mini-button.watting(ng-click='Auth.login()') {{'preregister'|translate}}
        div.big-photo.margin-bottom.full-width
          img(src="{{start.big_img}}",srcset="{{start.big_img_2x}} 2x")
        div.row.text-center
          div.col
            div.icon
              span.i-user.margin-0-auto
              b {{start.user_count}}
              p Pre-Register
          div.col
            div.icon
              span.i-calendar.margin-0-auto
              b {{start.online_date}}
              p online
        hr
        h5.color-w 最近消息
        .article-list
          .row.unit.no-padding.right-arrows.row-center(ng-repeat="article in articles")
            .col-10.no-padding
              div.icon.no-margin
                span.i-flag
            .col.unit-p
              p
                a(href="#/app/article/{{article._id}}/{{article.title}}") {{'promotion'|translate}} {{article.title}}
          //a.button.a-button.button-block.nol-button.right-arrows(href="#/app/l-article-list") {{'raider_articles'|translate}}
          hr.margin-top
        div.t-indent.margin-bottom
          | {{start.game_content|translate}}
        hr.margin-bottom
        button#buttonOk.a-button.button.button-block.main-button.right-arrows(ng-click='Auth.login()') {{'preregister2'|translate}}
        a.button.a-button.button-block.nol-button.right-arrows(href="#/app/games/1") 查看遊戲
