/*
	特定的設定
*/

// menu
.item-content {
	background: none !important;
	border-bottom: 1px solid #555555 !important;
}

.how-title {
	display: block;
	padding: 10px 0;
	height: 100px;
	.small {
		margin: 0 !important;
		padding: 0 !important;
	}
	h3 {
		margin: 10px 0 4px;
	}
	p {
		b {
			color: $height-color;
			margin: 0 0.2em;
		}
	}
}

.how-image {
	img {
		// @include shadow();
	}
}

.slider {
	color: #fff !important;
	margin-top: 44px;
	padding-top: 20px;
	.col {
		padding: 0 $background-padding;
	}
	height: 100%;
	h1,h2,h3,h4,h5 {
		color: #fff !important;
	}

	.icon {
		color: #fff;
	}
}

.slider-slide {
	overflow: hidden;
}

.store {
	padding: 16px 0;
	.app-icon {
		padding: 0;
		margin: 0;
		width: 177px;
	}
	.text-title {
		margin-left: 12px;
		margin-top: -36px;
	}
	.title {
		b {
			font-size: $f-big + 2;
		}
		p {
			font-size: $f-small;
			font-weight: 200 !important;
		}
	}
	.watting {
		background-color: $height-color;
	}
}

.item-avatar {
	img {
		border-radius: 0 !important;
	}
}

.article-list {
	.unit {
		margin-bottom: 2.2em;
	}
	.unit-p {
		padding: 0 !important;
		padding-right: 28px !important;
		padding-left: 8px !important;
	}
	.icon {
		span {
			margin: 0 !important;
		}
	}
	p {
		margin: 0 !important;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
}

article {
	padding-top: 1em;
	h1 {
		font-size: $f-big !important;
		color: #fff !important;
	}
}

.text-body {
	text-align: justify;
}

.timer {
	text-align: center;
	.number {
		display: inline-block;
	}
	span {
		display: block;
		box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.48), inset 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
		background-color: rgb(38, 38, 38);
		width: 72px;
		height: 88px;
		margin-right: 5px;
		text-align: center;
		font-size: 42px;
		line-height: 88px;
		font-weight: 500;
	}
	p {
		margin-top: 8px;
		font-size: 12px;
		font-weight: 400;
	}
}

.pass-code {
	p {
		margin-top: 8px;
	}
}

.Pages {
	.timer {
		margin-left: -8px;
		margin-right: -12px;
		margin-top: 24px;
	}
	.black {
		padding-top: 1em;
	}
}

#AllowNoti {
	.note {
		padding-top: 38px;
		margin-bottom: 30px;
	}
}

#Tutorial {
	.slider-pager {
		bottom: 60px;
	}
	.page-footer {
		padding-top: 6px;
		padding-bottom: 68px;
		background-color: rgba(0,0,0,0.65);
	}
}

#Menu {
	footer {
		font-size: $f-small;
		color: black;
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
	}
}
