/*
	Fixs
*/

.hide-footer.keyboard-open {
	.page-footer {
		display: none;
	}
}

/*
  Screen
*/

.h568 {
  .slider {
    height: 568px;
  }
	.keyboard-open {
		.page-footer {
			display: block;
		}
	}
}

.h480 {
  .slider {
    height: 480px;
  }
}